
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>artigo</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <article>
        <header>
            <h1>Titulo do Artigo</h1>
            <time datetime="2026-08-26">15 de Março de 2024</time>
        </header>

        <section>
            <h2>Introdução</h2>
            <p>Conteúdo introdutório do artigo...</p>
        </section>

        <section>
            <h2>Desenvolvimento</h2>
            <p>Desenvolvimento do conteúdo...</p>
        </section>

            
        <footer><p>Autor: João da Silva</p></footer>
    </article>

    <script src="../../js/script.js"></script>
</body>
</html>